@page "/Comic"
@inherits ComicVM

<style>
    .Full {
        width: 100%;
    }
</style>
<div>
    <MTextField Label="Search"
                AppendIcon="mdi-magnify"
                    Solo @bind-Value="SearchText"
                Placeholder="Input words that you want to search"
                    Outlined OnAppendClick="SearchEvent"></MTextField>

    <MContainer @ref="Row" Class="Full">
        <MList Style="@MCVisible">
            <MListItemGroup Color="primary">
                @foreach (var item in InitResult)
                {
                    <MListItem>
                        <MRow Style="margin-top:-10px;margin-left:-10px;margin-bottom:5px">
                            <MCol Cols="6">
                                <MImage Src="@item.Cover" @onclick="()=>DetailEvent(item)" AspectRatio=0.7 MaxHeight="350" MaxWidth="250">

                                </MImage>
                            </MCol>
                            <MCol Cols="6"></MCol>
                        </MRow>
                    </MListItem>
                }
            </MListItemGroup>
        </MList>

        @foreach (var item in InitResults)
        {
            <MRow NoGutters Style="@PCVisible">
                @foreach (var items in item)
                {
                    <MCol Cols="1.5">
                        <div style="border:dashed #FF8888;margin:5px;">
                            <MImage Src="@items.Cover" @onclick="()=>DetailEvent(items)" AspectRatio=0.75
                                    MaxHeight="350" MaxWidth="250" Contain Dark>
                            </MImage>
                            <span class="font-weight-medium text-sm-left text-truncate d-inline-block" style="max-width:190px">标题：@items.Name</span>
                        </div>
                    </MCol>
                }
            </MRow>
        }
        <MInfiniteScroll OnLoad="@OnLoad"
                         Parent="@Row.Ref">
        </MInfiniteScroll>
    </MContainer>
</div>
